
@font-face {
  font-family: 'Gustanlp';
  src: url('/assets/fonts/Gustanlp-Medium.woff2') format('woff2');
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family:
    'Gustanlp',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
